body{
    padding: 0;
    margin: 0;
    background-color: black;
    
}

.layout{
    font-size: 1.4rem;
    padding: 5vw;
}

.layout2{
    font-size: 1.4rem;
    padding: 5vw;
    padding-bottom: 100px;
}

body{
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    width:100%;
    height:100vh;
    background:#ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  header{
    padding-left: 5vw;
    width:100%; 
    background:#ffffff; 
    height:60px; 
    line-height:60px;
    border-bottom:1px solid #dddddd; 
}
  .hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:7px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
  .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
  .menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
  .menu ul li a:hover {  color: #666; text-decoration:none;}
  .menu a{text-decoration:none; color:#666;}
  .menu a:hover{text-decoration:none; color:#666;}
  
  .glyphicon-home{
    color:white; 
    font-size:1.5em; 
    margin-top:5px; 
    margin:0 auto;
  }
  header{display:inline-block; font-size:12px;}
  span{padding-left:20px;}
  a{color:#336699;}

.grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
}

.tall-image,
.wide-image,
.card{
    border-radius: 3%;
    display: flex;
    background-color: rgb(32, 60, 85);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    transition: all 0.3s;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform:  scale(0);
    background-repeat: no-repeat; /*ป้องกันการทำซ้ำของรูป */
}

.fullscreen.active{
    transform: scale(1);
}

.tall-image{
    grid-row: span 2 / auto;
}

.wide-image{
    grid-column: span 2 / auto;
}

.wide-image:hover,
.tall-image:hover,
.card:hover{
    box-shadow: 10px 10px rgba(153, 153, 225, 0.2);
    transform: translateY(-5px) scale(0.9);
}

.container {
    display: flex;
    justify-content: space-between; /* Makes equal space between the sections */
}

.left-section, .right-section {
    width: 50%; /* Each section takes 50% of the width */
    padding: 10px;
}

@media screen and (max-width: 800px){
    .container{
        padding-left: 50px;
        display: flex;
        flex-direction: column;
    }
}